# TF-IDF Corpus Tweet TOP 1 Fitur Full

## Libraries

In [ ]:
!pip install git+https://github.com/laxmimerit/preprocess_kgptalkie.git

In [1]:
import numpy as np
from numpy import array
import pandas as pd

from IPython.display import Audio

#import preprocess_kgptalkie as ps

from ast import literal_eval

import string 
import re
from nltk.tokenize import word_tokenize 

import nltk
from nltk.corpus import stopwords

# import Sastrawi package
#from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
#import swifter

from IPython.display import Audio

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [2]:
def Average(lst):
    return sum(lst) / len(lst)

# Feature Extraction

In [3]:
df_tweetberita = pd.read_excel("dataset_FINAL_afterPreprocessing.xlsx", usecols=['Text', 'LabelFinal'])
df_tweetberita

                                                    Text  LabelFinal
0      kejat jatim tunjuk jpu tangan perkara tragedi ...           0
1      dikysoemarno cuekin aja tum kalo yg teriak car...           0
2      belum nyata sikap yg dri tuntut mula smgt lipa...           0
3      listyosigitp berapa gas air mata yang kalian t...           0
4      bodo susup usut km harun mas kanjuruhan fs fak...           0
...                                                  ...         ...
25320  putri candrawathi tak tahan juga ferdy masih k...           1
25321  kapolri jenderal listyo sigit prabowo alas put...           1
25322  dalih manusia amp rekomendasi komnas perempuan...           1
25323  lalu tahan mako brimob putri candrawathi belum...           1
25324  kapolri jenderal listyo sigit prabowo angkat b...           1

[25325 rows x 2 columns]

In [4]:
import nltk
nltk.download('punkt')

df_tweetberita['TokenizedText'] = df_tweetberita['Text']
df_tweetberita["TokenizedText"] = df_tweetberita.apply(lambda row: nltk.word_tokenize(row['TokenizedText']), axis=1)
data = list(df_tweetberita['TokenizedText'])
df_tweetberita['TokenizedText'] = data
df_tweetberita

[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

,Text,LabelFinal,TokenizedText
0,kejat jatim tunjuk jpu tangan perkara tragedi ...,0,"[kejat, jatim, tunjuk, jpu, tangan, perkara, t..."
1,dikysoemarno cuekin aja tum kalo yg teriak car...,0,"[dikysoemarno, cuekin, aja, tum, kalo, yg, ter..."
2,belum nyata sikap yg dri tuntut mula smgt lipa...,0,"[belum, nyata, sikap, yg, dri, tuntut, mula, s..."
3,listyosigitp berapa gas air mata yang kalian t...,0,"[listyosigitp, berapa, gas, air, mata, yang, k..."
4,bodo susup usut km harun mas kanjuruhan fs fak...,0,"[bodo, susup, usut, km, harun, mas, kanjuruhan..."
...,...,...,...
25320,putri candrawathi tak tahan juga ferdy masih k...,1,"[putri, candrawathi, tak, tahan, juga, ferdy, ..."
25321,kapolri jenderal listyo sigit prabowo alas put...,1,"[kapolri, jenderal, listyo, sigit, prabowo, al..."
25322,dalih manusia amp rekomendasi komnas perempuan...,1,"[dalih, manusia, amp, rekomendasi, komnas, per..."
25323,lalu tahan mako brimob putri candrawathi belum...,1,"[lalu, tahan, mako, brimob, putri, candrawathi..."
25324,kapolri jenderal listyo sigit prabowo angkat b...,1,"[kapolri, jenderal, listyo, sigit, prabowo, an..."

#### TF-IDF Vectorizing

In [5]:
%%time
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

#define tf-idf
tf_idf_vec = TfidfVectorizer(ngram_range=(1,2), max_features=10000)

#transform
tf_idf_data = tf_idf_vec.fit_transform(df_tweetberita['Text'])

#create dataframe
tf_idf_df  = pd.DataFrame(tf_idf_data.toarray(),columns=tf_idf_vec.get_feature_names())
features_v = tf_idf_vec.get_feature_names()
vector     = tf_idf_df.values.tolist()
df_tweetberita['TFIDF_vec'] = vector
tf_idf_df

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

Wall time: 1min 44s

,aamiin,abai,abang,abdi,abdul,abis,abu,abu waras,abur,abuse,...,zhico,zina,zoelfick,zon,zrn,zulfiarrahman,zulkiflilubis,zumhana,zusen,zusen tahan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25323,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
tf_idf_df

,aamiin,abai,abang,abdi,abdul,abis,abu,abu waras,abur,abuse,...,zhico,zina,zoelfick,zon,zrn,zulfiarrahman,zulkiflilubis,zumhana,zusen,zusen tahan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25323,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Load Corpus Tweet

In [7]:
df_corpus = pd.read_csv("similaritytweetberita.csv")
df_corpus.drop('Unnamed: 0', axis=1, inplace=True)
df_corpus.head()

,Words,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5,Rank 6,Rank 7,Rank 8,Rank 9,Rank 10
0,kejat,dki,kajati,jatim,aspidsus,dahlan,jaksa,iskan,gubernur,pemprov,diy
1,jatim,kejat,timur,kaltim,jawa,jabar,polda,jateng,minarti,sepejaten,madura
2,tunjuk,langsung,kapolri,bukti,bijak,mesti,timbang,alat,proses,presiden,apa
3,jpu,tuntut,dakwa,jaksa,pulung,eksepsi,haerudin,sidang,fitroh,majelis,irene
4,tangan,ott,operasi,kasuskasus,perkara,lambai,serius,tanda,libat,tangkap,kait

In [8]:
df_corpus['combined'] = df_corpus.apply(lambda x: list([x['Rank 1']]),axis=1)

In [9]:
print(df_corpus['combined'][0])
print(df_corpus['combined'][0][0:10])
d = dict([([Words,combined]) for Words, combined in zip(df_corpus.Words, df_corpus.combined)])

['dki']
['dki']

## Feature Expansion

<img src="../images/Feature Expansion.PNG" width="40%">

In [10]:
def checkWords(i, j):
    try:
        # pengecekan if one word in W appears in tweet T
        a = [t for t in d[features_v[j]] if t in [i]]
        return a
    except:
        return []
    
def weightCheck(w, i, j):
    try:
        if w != []:
            return vector[i][features_v.index(w[0])]
        else:
            return vector[i][j]
    except:
        return vector[i][j]

In [11]:
pd.set_option("display.max_columns", None)

In [ ]:
%%time
fe_vec = []
print()
print('============ FEATURE EXPANSION IS PROCESSING ============')
for i in range(len(vector)):
    v = [weightCheck(checkWords(i,j), i, j) if (vector[i][j] == 0.0) else vector[i][j] for j in range(len(vector[i]))]
    fe_vec.append(v)
df_tweetberita['TFIDF_vec_fe'] = fe_vec
fe_TFIDF_df = pd.DataFrame(fe_vec, columns=features_v)
fe_TFIDF_df

============ FEATURE EXPANSION IS PROCESSING ============

In [ ]:
fe_TFIDF_df.to_excel("FETFIDF_top1-tweetberita.xlsx")

In [13]:
lis1 = list(df_tweetberita['TFIDF_vec'])
lis2 = list(df_tweetberita['TFIDF_vec_fe'])
if lis1 != lis2:
    print('BERHASIL!')
    
print('len')
print(len(fe_vec[0]), len(vector[0]))
print('same?', (fe_vec[0] == vector[0]))

BERHASIL!
len
10000 10000
same? False

In [14]:
print()
print('======= CHECK KEBENARAN =======')
print("tweet:")
print("  ", data[0])
print()
for i in range(len(fe_vec[0])):
    if vector[0][i] != fe_vec[0][i]:
        print('expansion vector @idx', i, features_v[i])
        print('  corpus idx -', df_corpus[df_corpus["Words"]==features_v[i]].index.values[0])
        print(vector[0][i], fe_vec[0][i])

======= CHECK KEBENARAN =======
tweet:
   ['kejat', 'jatim', 'tunjuk', 'jpu', 'tangan', 'perkara', 'tragedi', 'kanjuruhan']

expansion vector @idx 1810 covid
  corpus idx - 334
0.0 0.17765272338113253
expansion vector @idx 1857 dakwa
  corpus idx - 6299
0.0 0.2982215547938298
expansion vector @idx 4494 langsung
  corpus idx - 115
0.0 0.3389707534945348
expansion vector @idx 4871 malang
  corpus idx - 161
0.0 0.17765272338113253
expansion vector @idx 6498 pokok
  corpus idx - 728
0.0 0.24839702295156185
expansion vector @idx 9394 tuntut
  corpus idx - 36
0.0 0.2982215547938298

In [15]:
df_corpus.iloc[[682]]

,Words,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5,Rank 6,Rank 7,Rank 8,Rank 9,Rank 10,combined
682,marah,picu,kesal,takut,jasmerah,heran,khawatir,bingung,jelek,gelisah,emosi,[picu]